// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4EFF7;

$purple-dark: #C788E5;
$purple-med:#D595F3;
$purple-light: #E1B4F6;
