<head>
  <style>
    .email-container {
      width: 60%;
      background-color: white;
      border: 1px solid lightgrey;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      padding: 16px 32px;
      border-radius: 4px;
      margin: 8px auto;
      font-size: 18px;
    }

    .button {
      padding: 16px;
    }
    
    a {
      text-decoration: none;
      color: black;
      background-color: #C788E5;
      padding: 16px 24px;
      border-radius: 32px;
      opacity: 0.8;
    }
    
    a:hover {
      opacity: 1;
      color: white;
    }
  </style>
</head>

<body style="background-color: #F8F4F9;">
  <div align="center">
    <img src="https://res.cloudinary.com/dkyy/image/upload/v1599064080/Logos/scriberlogo_aglcuy.png" style="width: 250px;">
  </div>
  <div class="email-container" style="margin-bottom: 48px;">
    <h4 align="right"><%= @date.strftime("%e %B, %Y") %></h5>
    <h4>Welcome, <%= @user.first_name %>!</h4>
    <p>Thank you for choosing <strong>Scriber!</strong></p>
    <p>Click the button below to get started tracking your subscriptions:</p>
    <div class="button">
      <%= link_to "Get started", root_url %>
    </div>
    <p>With love from the <strong>Scriber</strong> team 💜</p>
  </div>
</body>
