.subscription-item-dash {
    height: 100px;
    max-width:100%;
    border-radius: 8px;
    background: rgb(223,180,244);
    background: linear-gradient(90deg, rgba(223,180,244,1) 4%, rgba(199,136,229,1) 33%);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    margin: 8px;
}

.sub-name-dash{
  font-size: 16px;
}

.sub-reg-cost-dash h3{
  font-size: 16px;
}

.sub-next-payment-dash{
  font-size: 10px;
}

.sub-logo-dash{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    height: 100%;
    min-width: 70px;
    background-size: cover;
    background-position: center;
}

.sub-info-dash {
    padding-left: 24px;
}



.sub-reg-cost-dash {
    height: 100%;
    padding-left: 36px;
    margin-left: auto;
}



.search-input{
  position: relative;
}

.search-btn{
  width: 100px;
  height: 30px;
  position: absolute;
  top:58px;
  right: 20px;
}

.sub-results{
  overflow-y: scroll;
  max-width: 440px;
  height: 330px;
  margin-bottom: 8px;
}


