.fa-check-circle {
  color: #88dfad;
  opacity: 0.8;

}

.fa-check-circle:hover {
  opacity: 1;
}

.fa-times-circle {
  color: $red-light;
  opacity: 0.8;
}

.fa-times-circle:hover {
  opacity: 1;
}

.submit-button {
  margin-top: 60px;
}
