<h1> <%= @user_subscription.subscription.name %></h1>
<h2>All Reminders</h2>
<%= link_to "Add a reminder", new_user_subscription_reminder_path(@user_subscription), class: 'btn btn-primary btn-sm my-3' %>
<% @user_subscription.reminders.each do |reminder|%>
 <div class="reminder-index-item">
   <p> <%= reminder.details %> </p>
 </div>
<% end %>

