<div class="container">
  <div class="form-container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="list-subscription-container">
          <h1 class="my-3 text-center">Add subscription</h1>
          <%= render "form", user_subscription: @user_subscription %>
        </div>
      </div>
    </div>
  </div>
</div>


