.list-subscription-container {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 24px 32px;
  margin: 24px 0;
  label {
    font-weight: bold;
  }
}

.hide {
  display: none;
}

.reminder-form {
  width: 100%;
  height: 100px;
  background-color: white;
}

.subscription-reminder-form {
  height: 100%;
}
