<section class="showcase">
  <div class="showcase-content">
    <%= image_tag("check.gif", id:'check', :alt => "rss feed") %>
    <%= image_tag("credit.png", id:'creditcard', :alt => "rss feed") %>
    <h1 id="main-title">Did you remember to cancel that subscription</h1>
    <a href="">Sign Up</a>
  </div>
 </section>


<section class="promote" >
  <div class="grouplistpromo">
    <ul id="subs-display-animation">
      <li>
        <div class="subscription-item">
          <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://www.iconninja.com/files/140/281/107/app-web-home-spotify-image-group-internet-icon.svg)"></div>
          <div class="sub-info">
            <h3 class="sub-name margin-sm">Spotify</h3>
            <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
          </div>
          <div class="sub-reg-cost"><h3>£6.00</h3></div>
        </div>
      </li>

      <li>
        <div class="subscription-item">
          <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://i.pinimg.com/originals/f6/97/4e/f6974e017d3f6196c4cbe284ee3eaf4e.png)"></div>
          <div class="sub-info">
            <h3 class="sub-name margin-sm">Netflix</h3>
            <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
          </div>
          <div class="sub-reg-cost"><h3>£8.99</h3></div>
        </div>
      </li>

      <li>
        <div class="subscription-item">
          <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/052018/untitled-1_282.png?zBgfG0XEfdsPUq33GRuhu6udfY3Yu_rs&itok=39OQ7JCF)"></div>
          <div class="sub-info">
            <h3 class="sub-name margin-sm">Amazon Prime</h3>
            <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
          </div>
          <div class="sub-reg-cost"><h3>£7.99</h3></div>
        </div>
      </li>

      <li>
        <div class="subscription-item">
          <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://cdn.windowsreport.com/wp-content/uploads/2015/10/Adobe-Creative-Cloud-Products-issues-in-Windows-10.jpg)"></div>
          <div class="sub-info">
            <h3 class="sub-name margin-sm">Adobe</h3>
            <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
          </div>
          <div class="sub-reg-cost"><h3>£10.00</h3></div>
        </div>
      </li>
    </ul>
  </div>
</section>

