 <!-- <section class="showcase">
     <div class="showcase-content">
         <%= image_tag("check.gif", id:'check', :alt => "rss feed") %>
         <%= image_tag("credit.png", id:'creditcard', :alt => "rss feed") %>
         <h1 id="main-title">Did you remeber to cancel that susbsciption</h1>
         <a href="" id="btn-signup" class="btn">Sign Up</a>
     </div>
 </section>


<section class="promote" >
   <div class="grouplistpromo">
       <ul id="subs-display-animation">
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://www.iconninja.com/files/140/281/107/app-web-home-spotify-image-group-internet-icon.svg)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">Spotify</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£6.00</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://i.pinimg.com/originals/f6/97/4e/f6974e017d3f6196c4cbe284ee3eaf4e.png)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">Netflix</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£8.99</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/052018/untitled-1_282.png?zBgfG0XEfdsPUq33GRuhu6udfY3Yu_rs&itok=39OQ7JCF)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">Amazon Prime</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£7.99</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://cdn.windowsreport.com/wp-content/uploads/2015/10/Adobe-Creative-Cloud-Products-issues-in-Windows-10.jpg)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">Abdobe</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£10.00</h3></div>
     </div></li>

</ul>
    <ul id="subs-display-animation">
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/92-icloud-512.png)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">iCloud</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£0.99</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/7f19de5f0c612fbe5e8d9421e819ff9c)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">PureGym</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£19.99</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://www.rewindandcapture.com/wp-content/uploads/2016/02/Dropbox-Logo-High-Res_1-300x300.jpg)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">Dropbox</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£7.99</h3></div>
     </div></li>
  <li><div class="subscription-item">
        <div class="sub-logo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://www.ispreview.co.uk/wp-content/uploads/4_ee.gif)"></div>
        <div class="sub-info">
          <h3 class="sub-name margin-sm">EE</h3>
          <p class='sub-next-payment margin-sm'>Next payment: 20/10/2020</p>
        </div>
        <div class="sub-reg-cost"><h3>£29.00</h3></div>
     </div></li>
</ul>
   </div>


   </section>

