.subscription-item-dash {
  position: relative;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(248,244,249,1) 0%, rgba(239,214,252,1) 100%);
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  color: #353535;
  font-size: 16px;
  margin: 8px auto;
  opacity: 0.9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    opacity: 1;
  }
  img {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

#setAlert{
  margin-left:4px;
}

.subscription-item-dash:hover .sub-item-overlay{
  opacity: 1;
}

.sub-item-overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(229,180,244,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}


.sub-item-overlay a {
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
  margin: 0 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


.sub-name-dash{
  font-size: 16px;
}

.sub-reg-cost-dash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  h3 {
  font-size: 16px;
  }
}

.sub-next-payment-dash{
  font-size: 15px;
  margin: 0;
}

.sub-info-dash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
}
